*{
    font-family: "Montserrat", Sans-serif;;
}

header{
    background-color: rgba(0, 0, 0, 0.9);
}

.logo{
    width: 150px;
}

.links{
    color: white;
}

.links:hover{
    color: #4ED133;
}

.boton-header{
    border: 2px solid #4ED133;
    background: none;
    padding: 7px 40px;
    color: white;
}

.boton-header:hover{
    border: none;
    background-color: white;
    color: black;
}

.imagen{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    filter: brightness(0.3);
}

.carrusel{
    height: 75vh;
    width: 100%;
}

.centrado{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.pared{
    background-image: url(../img/pared.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#map, #mapa{
    height: 300px;
	width: 100%;
}