.logo{
    width: 150px;
}

.links{
    color: white;
}

.links:hover{
    color: #4ED133;
}

.boton-header{
    border: 2px solid #4ED133;
    background: none;
    padding: 7px 40px;
    color: white;
}

.boton-header:hover{
    border: none;
    background-color: white;
    color: black;
}

.imagen-1{
    background-image: url(../img/imagen\ 2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.imagen-2{
    background-image: url(../img/imagen\ 1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.imagen-3{
    background-image: url(../img/imagen\ 3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item{
    height: 75vh;
    width: 100%;
}

.centrado{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}